*.bak
/example/hello
/example/test/out
/example/test/*.dblite
/example/test/Debug
/example/test/reflection2013.sdf
/example/test/reflection2013.v12.suo
/example/test/reflection2013.opensdf
/example/test/.vs/reflection2013/v14/.suo
/example/test/reflection2013.VC.db
/example/test/*.opendb
*.exe
/example/test/msvc/2015/.vs
/example/test/msvc/2015/Debug
/example/test/msvc/2017/.vs
/example/test/msvc/2017/Debug
/example/test/msvc/2015/reflection2015.VC.db
/example/test/msvc/2015/reflection2015.VC.VC.opendb
/example/test/msvc/2015/enc_temp_folder
/example/test/msvc/2015/x64
/example/test/msvc/2015/Release
/tmp/*.pyd
/example/test/msvc/2015/Debug3
